{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        /* custom styles */
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-consent {
            max-width: 330px;
            padding: 15px;
        }

        .form-consent .form-floating:focus-within {
            z-index: 2;
        }
    </style>
{% endblock %}

{% block body %}
    <body class="text-center">
        <main class="form-consent w-100 m-auto">
            <form action="" method="post">
                <h1 class="h3 mb-3 fw-normal">Grant permissions</h1>

                {% if has_existing_scopes %}
                    <p>
                        Application <strong>{{ client_name }}</strong> already has access to your details:
                        <ul class="list-group list-group-flush">
                            {% for scope in existing_scopes %}
                                <li class="list-group-item disabled">{{ scope }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}

                <p>
                    Application <strong>{{ client_name }}</strong> wants to get access to your details:
                    <ul class="list-group list-group-flush">
                    {% for scope in scopes %}
                        <li class="list-group-item">{{ scope }}</li>
                    {% endfor %}
                    </ul>
                </p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('oauth2_consent') }}" />
                <button class="w-100 btn btn-lg btn-primary" type="submit" name="consent" value="yes">Grant access</button>
                <button class="w-100 btn btn-lg btn-light" type="submit" name="consent" value="no">Ignore</button>
                <p class="mt-5 mb-3 text-muted">&copy; FedX 2023</p>
            </form>
        </main>
    </body>
{% endblock %}
